<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Lab 02</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <form action="/" method="post">
      <h1>Weather Information</h1>
      <input name="city" type="text" id="city" placeholder="Enter a City" required>
      <button type="submit">Get Weather</button>
    </form>

    <% if (weather) { %>
      <div class="card">
        <p><%= weather.description %></p>
        <div class="icon">
          <img src="http://openweathermap.org/img/w/<%= weather.icon %>.png">
        </div>
        <div class="content">
          <h2><%= weather.city %> , <%= weather.country || '' %></h2>
          <p><%= new Date().toLocaleString('en-US', { month: 'long', day: 'numeric', year: 'numeric' }) %></p>
          <div class="weather-info">
            <div class="weather-info-item">
              <p>Temperature:</p>
              <p><%= weather.temperature %> &deg;C</p>
            </div>
            <div class="weather-info-item">
              <p>Feels like:</p>
              <p><%= weather.feels_like %> &deg;C</p>
            </div>
            <div class="weather-info-item">
              <p>Humidity:</p>
              <p><%= weather.humidity %>%</p>
            </div>
            <div class="weather-info-item">
              <p>Wind speed:</p>
              <p><%= weather.wind %> mph</p>
            </div>
          </div>
          
    <% } %>
    <% if (error) { %>
      <p><%= error %></p>
    <% } %>
  </body>
</html>
